.about-sec{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}
    
.about-sec-sub-two,
.about-sec-sub-one{
    font-size:20px; 
    margin: 20px;

    padding: 20px; 
    min-width: 45vw;
    max-width: 45vw; 
    box-shadow: 1px 1px 4px 1px greenyellow; 
    background-color: rgb(251, 255, 245);
}

@media(max-width: 700px) {
    .about-sec-sub-two, .about-sec-sub-one{
        min-width: 90%;
        max-width: 90%;
    }
}